---
import classes from "./form.module.scss";
import NetlifyInputs from "./NetlifyInputs.astro";

type Props = {
  name: string;
  title: string;
  netlify?: boolean;
};

const { netlify = false, name, title } = Astro.props;
---

<form
  id={name}
  name={name}
  method="POST"
  action="/success"
  data-netlify={netlify}
  data-netlify-honeypot="bot-field"
  class={classes.wrapper}
>
  {netlify && <NetlifyInputs {name} />}
  <legend>
    <h1>{title}</h1>
    <div><img src='/favicon.svg' alt='form title' loading="eager"/></div>
  </legend>
  <slot name="form-copy" />
  <fieldset>
    <slot name="fields" />
  </fieldset>
  <input type="submit" form={name} value="Submit" />
</form>
