---
import classes from "./detail.module.scss";
import ButtonBack from "../button/Button:Back.astro";
import Prose from '../Prose.astro';

type Props = { title?: string };

const { title = "" } = Astro.props;
---

<section class={classes.wrapper}>
  <div class={classes.wrapper__content}>
    <ButtonBack />
    <div class={classes.wrapper__content__grid}>
      <div class={classes.wrapper__content__grid__showcase}>
        <slot name="cover-image" />
      </div>
      {title && <h1 class={classes.wrapper__content__grid__title}>{title}</h1>}
      <div class={classes.wrapper__content__grid__body}>
        <Prose>
          <slot name="content" />
        </Prose>
      </div>
    </div>
    <slot />
  </div>
</section>
