---
import { type CollectionEntry } from "astro:content";
import { Picture } from "astro:assets";
import styles from "./card.module.scss";
import Card from "./Card.astro";
import FormattedDate from "../FormattedDate.astro";

type Props = CollectionEntry<"testimonials">;

const {
  data: { href, author, avatar, pubDate, designation },
  render,
} = Astro.props;

const { Content } = await render();
---

<Card href={href}>
  <span class={styles.testimonial}>
    <div class={styles.testimonial__header}>
      <span class={styles.testimonial__header__avatar}>
        <Picture src={avatar} alt={author} />
      </span>
      <span class={styles.testimonial__header__bio}>
        <span>
          <FormattedDate date={pubDate} />
          <span class="line-clamp-2">{designation}</span>
        </span>
      </span>
    </div>
  </span>
  <div slot="content" class={styles.testimonial__body}>
    <blockquote>
      <Content />
    </blockquote>
  </div>
</Card>
