---
import { Picture } from "astro:assets";
import { type CollectionEntry } from "astro:content";
import styles from './card.module.scss';
import Card from "./Card.astro";
import Tag from "../Tag.astro";
import FormattedDate from "../FormattedDate.astro";

type Props = CollectionEntry<"projects">;

const {
  data: { title, tags, pubDate, image },
  slug,
} = Astro.props;
---

<Card href={`/projects/${slug}`}>
  <div class={styles.project__content}>
    <span class={styles.project__content__body}>
      <span>
        <h2>
          {title}
        </h2>
        <i>&rarr;</i>
      </span>
      <sub>
        <FormattedDate date={pubDate} />
      </sub>
    </span>
    <ul class={styles.project__content__tags}>
      {tags.map(tag => <Tag {tag} />)}
    </ul>
  </div>
  <div class={styles.project__showcase} slot="content">
    <Picture src={image} alt={title} loading="eager" format="webp" />
  </div>
</Card>
