---
import { Picture } from "astro:assets";
import { IMAGE_SIZE, SITE_FAVICON, SITE_NAME } from "../constants";

type Props = {
  showFull?: boolean;
}

const { showFull = false } = Astro.props;
const [first, second] = SITE_NAME.split(" ");
---

<div role="img" aria-label="Brand" class="logo">
  <a href="/">
    <Picture
      src={SITE_FAVICON}
      alt={SITE_NAME}
      height={IMAGE_SIZE}
      width={IMAGE_SIZE}
      loading="eager"
      format="webp"
    />
    {
      showFull && (
        <Fragment>
          <span class="brand-first">{first}</span>
          &nbsp;
          <span class="brand-second">{second}</span>
        </Fragment>
      )
    }
  </a>
</div>

<style lang="scss">
  .logo {
    @apply ml-0 mr-auto
    hover:animate-pulse;
    a {
      @apply flex place-items-center
      cursor-pointer;
      .brand-first {
        @apply text-violet-400 text-opacity-80;
      }
      .brand-second {
        @apply text-green-400 text-opacity-80;
      }
    }
    img {
      @apply max-w-12 h-auto mr-2;
    }
  }
</style>
