---
import { type CollectionEntry } from "astro:content";
import { Picture } from "astro:assets";
import Card from "./Card.astro";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  testimonial: CollectionEntry<"testimonials">;
}

const {
  testimonial: {
    data: { href, author, avatar, pubDate, designation },
    render,
  },
} = Astro.props;

const { Content } = await render();
---

<Card href={href}>
  <span class="testimonial-wrapper">
    <div class="testimonial-header">
      <span class="header-avatar">
        <Picture class="w-16 h-16 rounded-full" src={avatar} alt={author} />
      </span>
      <span class="header-bio">
        <span>
          <FormattedDate date={pubDate} />
          <span class="line-clamp-2">{designation}</span>
        </span>
      </span>
    </div>
  </span>
  <div slot="content" class="testimonial-body">
    <blockquote class="my-auto line-clamp-6">
      <Content />
    </blockquote>
  </div>

  <style lang="scss">
    .testimonial-wrapper {
      @apply grid max-w-screen-sm rounded-3xl;
      grid-template-columns: 1fr 2fr 2fr;
      sub {
        font-size: 0.75rem;
      }
      .testimonial-header {
        @apply flex flex-col flex-auto gap-4 col-span-1;
        .header-avatar {
          @apply object-contain;
        }
        .header-bio {
          @apply flex flex-col flex-auto gap-2 col-span-2 overflow-hidden;
        }
      }
      .testimonial-body {
        @apply flex place-self-center;
        padding: 0.5rem 0.25rem;
      }
    }
  </style>
</Card>
