---
import { Picture } from "astro:assets";
import { type CollectionEntry } from "astro:content";
import Card from "./Card.astro";
import Tag from "./Tag.astro";
import FormattedDate from "./FormattedDate.astro";

type Props = CollectionEntry<"projects">;

const {
  data: { title, tags, pubDate, image },
  slug,
} = Astro.props;
---

<Card href={`/projects/${slug}`}>
  <div class="wrapper">
    <div class="content">
      <span class="content-body">
        <span>
          <h2>
            {title}
          </h2>
          <i>&rarr;</i>
        </span>
        <sub>
          <FormattedDate date={pubDate} />
        </sub>
      </span>
      <ul class="content-tags">
        {tags.map(tag => <Tag {tag} />)}
      </ul>
    </div>
    <div class="showcase">
      <Picture src={image} alt={title} loading="eager" format="webp" />
    </div>
  </div>
  <style lang="scss">
    .wrapper {
      @apply flex flex-col lg:flex-row lg:min-h-1 2xl:gap-2;
      .content {
        @apply flex flex-auto flex-wrap gap-4;
        &-body {
          @apply flex flex-col flex-auto;
          span {
            @apply flex flex-row flex-auto justify-between;
            h2 {
              @apply text-blue-100 line-clamp-1;
            }
            i {
              @apply place-self-center;
            }
          }
        }
        &-tags {
          @apply flex flex-wrap flex-auto
          justify-around 2xl:justify-start;
        }
      }
      .showcase {
        @apply mx-auto w-48 flex place-items-center
        justify-center contain-content;
        img {
          @apply h-auto w-20 rounded-full;
        }
      }
    }
  </style>
</Card>
