---
type Props = {
  type: "text" | "password" | "email" | "textarea";
  name: string;
  label: string;
  required: boolean;
};

const { type, name, label, required } = Astro.props;
---

<p class="fieldset">
  <label for={name}>{label}:</label>
  <Fragment>
    {
      type === "textarea" ? (
        <textarea id={name} rows={4} {name} {required} />
      ) : (
        <input id={name} {type} {name} {required} />
      )
    }
  </Fragment>

  <style lang="scss">
    .fieldset {
      @apply px-8 grid gap-2 place-items-start
      md:grid-cols-2;
      textarea {
        @apply p-2 font-mono rounded-md text-slate-600;
      }
      input {
        @apply px-2 py-1 w-full font-mono rounded-md text-slate-600;
      }
    }
  </style>
</p>
