---
import { getEntry } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_NAME, SITE_DESCRIPTION, SITE_FAVICON } from "../constants";
import '../styles/global.css';

const currentPage = Astro.url.pathname.replace("/", "");
const pageMeta = currentPage
  ? await getEntry("pagemetas", currentPage)
  : undefined;
if (
  currentPage &&
  !pageMeta &&
  !currentPage.includes("projects") &&
  !currentPage.includes("admin")
) {
  console.warn(`Page meta missing for current page: ${currentPage}`);
}

interface Props {
  title?: string;
}

const { title = pageMeta?.data.title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg" href={SITE_FAVICON} />

    <title>{title ? `${title} | ${SITE_NAME}` : SITE_NAME}</title>

    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
